<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if page.has_previous %}
        <h1>上一页</h1>
        <a href="/list{{ typeinfo.id }}_{{ page.previous_page_number }}_{{ sort }}/">&lt;上一页</a>
    {% endif %}
{#    {% for page_num in paginator.page_range %}#}
{#        <a href="/list{{ typeinfo.id }}_{{ page_num }}_{{ sort }}/"#}
{#            {% if page_num == page.number %}#}
{#                style="color: red"#}
{#            {% endif %}#}
{#        >{{ page_num }}</a>#}
{#    {% endfor %}#}
    {% if page.has_next %}
        <h1>下一页</h1>
        <a href="/list{{ typeinfo.id }}_{{page.next_page_number}}_{{sort}}/">下一页&gt;</a>
    {% endif %}
</body>
</html>